[submodule "themes/serif"]
	path = themes/serif
	url = https://github.com/JugglerX/hugo-serif-theme.git
[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
